<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>商务活动后台</title>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="js/require.js"></script>
    <script src="js/require-config-static.js"></script>
</head>
<body>
<script type="text/javascript">
    window.pageInfo = {
        records: [
            {
                '_id': 1,
                'eventId': 100,
                'userId': 12345678,
                'name': '用户名字1',
                'reviewDate': '2013-01-01 10:10:10',
                'phone': '12345678901',
                'reviewText': 'A省B市C区D路E座',
                'cityId': 1,
                'userIP': '192.168.101.100'
            }
        ]
    }
</script>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">商务活动</a>
            <ul class="nav">
                <li><a href="event-platform-index.html">首页</a></li>
                <li><a href="event-platform-new.html">新增活动</a></li>
                <li class="active"><a href="event-platform-view.html">查看活动</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="login.html"><i class="icon-user"></i>登陆</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="#">首页</a> <span class="divider">/</span></li>
                <li><a href="#">查看活动</a> <span class="divider">/</span></li>
                <li class="active">查看中奖信息</li>
            </ul>
            <div class="bordered">
                <form id="event-platform-draw-prize-query" class="event-platform-view form-horizontal form-search">
                    <input type="hidden" name="limit" value="20">
                    <fieldset>
                        <legend>查看中奖信息</legend>
                        <div class="row-fluid">
                            <div class="span12">
                                <div id="alert-window"></div>
                                <h4>输入搜索条件：</h4>

                                <div class="control-group">
                                    <label class="control-label" for="query-prize-id">奖品ID</label>

                                    <div class="controls">
                                        <input id="query-prize-id" name="prizeId" type="text" class="input-medium">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="query-user-id">用户ID</label>

                                    <div class="controls">
                                        <input id="query-user-id" name="userId" type="text" class="input-medium">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button id="query-button" type="button" name="owner" class="btn">查询</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row-fluid">
                    <div class="span12">
                        <button id="export-to-excel" type="button" class="btn btn-success pull-right">导出到Excel</button>
                        <script id="record-template" type="text/template">
                            <td><%= eventId %></td>
                            <td><%= prizeId %></td>
                            <td><%= userId %></td>
                            <td><%= name %></td>
                            <td><%= drawDate %></td>
                            <td><%= phone %></td>
                            <td class="address">
                                <div title="<%= address %>"><%= address %></div>
                            </td>
                            <td><%= cityId %></td>
                            <td><%= userIP %></td>
                            <td>
                                <a href="#window-confirm" role="button" class="btn btn-link record-delete"
                                   data-toggle="modal" title="删除"><i class="icon-trash"></i>删除</a></td>
                        </script>
                        <table id="event-platform-record-table" class="table table-striped table-hover table-bordered">
                            <caption>
                                <h4>中奖用户列表</h4>
                            </caption>
                            <thead>
                            <tr>
                                <td>活动ID</td>
                                <td>奖品ID</td>
                                <td>用户ID</td>
                                <td>用户名</td>
                                <td>中奖时间</td>
                                <td>手机号</td>
                                <td>地址</td>
                                <td>城市ID</td>
                                <td>用户IP</td>
                                <td style="width: 70px">操作</td>
                            </tr>
                            </thead>
                            <tbody id="event-platform-record-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="pagination pagination-centered">
                            <ul id="event-query-pagination">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="window-confirm" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="window-confirm-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="关闭">×
        </button>
        <h3 id="window-confirm-label">提醒</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <button id="window-confirm-cancel" class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="window-confirm-ok" class="btn btn-primary">确定</button>
    </div>
</div>
</body>
<script src="js/app/event-platform-draw-info-view.js"></script>
</html>