<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>商务活动后台</title>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<script type="text/javascript">
    window.pageInfo = {
        event: {
            eventId: 1,
            eventState: 0,
            name: 'abc',
            owner: 'admin',
            cityId: 5,
            url: 'http://',
            message: '活动介绍',
            startTime: '2012-12-21',
            endTime: '2013-01-01',
            components: {
                draw: {
                    prizes: [
                        { prizeId: 1, name: '1dj', type: 2, level: 4, hardRate: 0.1, total: 1, drawn: 0, message: 'string1'  },
                        { prizeId: 2, name: '2dj', type: 1, level: 3, hardRate: 0.2, total: 10, drawn: 0, message: 'string2'  },
                        { prizeId: 3, name: '3dj', type: 1, level: 2, hardRate: 0.5, total: 100, drawn: 0, message: 'string3'  },
                        { prizeId: 4, name: '4dj', type: 1, level: 1, hardRate: 1, total: 1000, drawn: 0, message: 'string2'  }
                    ]
                },
                vote: {},
                review: {
                    limitType: "byIP",
                    limitPeriod: "event",
                    estimatedParticipants: 5000,
                    limitNumber: 3
                }
            }
        }
    }
</script>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">商务活动</a>
            <ul class="nav">
                <li><a href="event-platform-index.html">首页</a></li>
                <li><a href="event-platform-new.html">新增活动</a></li>
                <li><a href="event-platform-view.html">查看活动</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="login.html"><i class="icon-user"></i>登陆</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
<div class="row">
<div class="span12">
<ul class="breadcrumb">
    <li><a href="#">首页</a> <span class="divider">/</span></li>
    <li class="active">查看活动</li>
</ul>
<div class="bordered">
<form id="event-platform-view-single-info" class="event-platform-view-single form-horizontal">
    <fieldset>
        <legend>查看活动</legend>
        <div class="row-fluid">
            <div class="span12">
                <script id="event-info-template" type="text/template">
                    <div class="control-group">
                        <label class="control-label">活动名称</label>

                        <div class="controls">
                            <span class="input-text-inline"><%= name %></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">活动城市ID</label>

                        <div class="controls">
                            <span class="input-text-inline"><%= cityId %></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">开始时间</label>

                        <div class="controls">
                            <span id="event-start-time" class="input-text-inline"><%= startTime %></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">结束时间</label>

                        <div class="controls">
                            <span id="event-end-time" class="input-text-inline"><%= endTime %></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">活动状态</label>

                        <div class="controls">
                                            <span class="input-text-inline">
                                                <% if(eventState == 0){ %>
                                                <span>离线</span>
                                                <% }if(eventState == 1){ %>
                                                <span>在线</span>
                                                <% }if(eventState == 2){ %>
                                                <span>已结束</span>
                                                <% } %>
                                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">活动类型</label>

                        <div class="controls">
                                            <span class="input-text-inline">
                                                <% if(components.draw){%>
                                                <span>抽奖类活动</span>
                                                <% }if(components.vote){%>
                                                <span>投票类活动</span>
                                                <% }if(components.promotion){%>
                                                <span>优惠券活动</span>
                                                <% }if(components.review){%>
                                                <span>评论类活动</span>
                                                <% }if(components.quiz){%>
                                                <span>问答类活动</span>
                                                <% } %>
                                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">活动链接</label>

                        <div class="controls">
                                        <span class="input-text-inline">
                                            <a href="<%= url %>"><%= url %></a>
                                        </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">负责人</label>

                        <div class="controls">
                            <span class="input-text-inline"><%= owner %></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">活动介绍</label>

                        <div class="controls">
                            <span class="input-text-inline"><%= message %></span>
                        </div>
                    </div>
                </script>
                <div id="event-info"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="button-group-centered">
                    <a type="button" class="btn" href="#">修改活动</a>
                    <a type="button" class="btn" href="#event-platform-view-single-draw">查看抽奖信息</a>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<form id="event-platform-view-single-draw" class="event-platform-view-single form-horizontal">
    <fieldset>
        <legend>活动抽奖信息</legend>
        <div class="row-fluid">
            <div class="span12">
                <script id="event-prize-template" type="text/template">
                    <td><%= name %></td>
                    <td><%= level %></td>
                    <td><%= total %></td>
                    <td><%= sent %></td>
                    <td><%= hardRate %></td>
                    <td><%
                        if(type == 1){
                        %> 优惠券 <%
                        }
                        if(type == 2){
                        %> 实物 <%
                        }if(type == 3){
                        %> 优惠券和实物 <%
                        } %>
                    </td>
                    <td style="width: 140px">
                        <a href="#" role="button" class="btn btn-link pirze-view"
                           title="查看中奖记录"><i class="icon-search"></i>查看中奖记录</a></td>
                </script>
                <table id="event-prize-list"
                       class="table table-striped table-hover table-bordered">
                    <caption>
                        <h4>奖品列表</h4>
                    </caption>
                    <thead>
                    <tr>
                        <td>奖品名称</td>
                        <td>奖品等级</td>
                        <td>奖品总数</td>
                        <td>已抽数量</td>
                        <td>难度系数</td>
                        <td>奖品类型</td>
                        <td style="width: 140px">操作</td>
                    </tr>
                    </thead>
                    <tbody id="event-prize-list-body">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="button-group-centered">
                    <button type="button" class="btn" value="">修改抽奖配置</button>
                    <button type="button" class="btn" value="">查看所有中奖记录</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<form id="event-platform-view-single-review" class="event-platform-view-single form-horizontal">
    <fieldset>
        <legend>活动评论信息</legend>
        <div class="row-fluid">
            <div class="span12">
                <script id="event-review-template" type="text/template">
                    <div class="control-group">
                        <label class="control-label">限制类型</label>

                        <div class="controls">
                                            <span class="input-text-inline">
                                                <% if(limitType == "byIP"){ %>
                                                <span>用户IP限制</span>
                                                <% }if(limitType == "byID"){ %>
                                                <span>用户ID限制</span>
                                                <% } %>
                                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"">限制方式</label>

                        <div class="controls">
                                            <span class="input-text-inline">
                                                <% if(limitPeriod == "day"){ %>
                                                <span>每日限制</span>
                                                <% }if(limitPeriod == "event"){ %>
                                                <span>整期限制</span>
                                                <% } %>
                                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">限制评论次数</label>

                        <div class="controls">
                                            <span class="input-text-inline">
                                                <%= limitNumber %>
                                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">预期参与人数</label>

                        <div class="controls">
                                            <span class="input-text-inline">
                                                <%= estimatedParticipants %>
                                            </span>
                        </div>
                    </div>
                </script>
                <div id="event-review"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="button-group-centered">
                    <button type="button" class="btn" value="">修改评论配置</button>
                    <button type="button" class="btn" value="">查看本活动所有评论</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
</div>
</div>
</div>
</div>
</body>
<script src="js/require.js"></script>
<script src="js/require-config-static.js"></script>
<script src="js/app/event-platform-view-single.js"></script>
</html>