<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>商务活动后台</title>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="js/require.js"></script>
    <script src="js/require-config.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">商务活动</a>
            <ul class="nav">
                <li class="active"><a href="event-platform-index.html">首页</a></li>
                <li><a href="event-platform-new.html">新增活动</a></li>
                <li><a href="event-platform-view.html">查看活动</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="login.html"><i class="icon-user"></i>登陆</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <div class="platform-history side-nav" data-spy="affix" data-offset-top="0">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="bordered">
                            <!-- TODO: 地址 -->
                            <script id="recent-events-template" type="text/template">
                                <a href="/event/view/<%= _id %>"><%= name %></a>
                            </script>
                            <form id="recent-events" class="form-horizontal">
                                <fieldset>
                                    <legend>最近创建的活动</legend>
                                    <ul class="no-list-style">
                                    </ul>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="bordered">
                            <!-- TODO: 地址 -->
                            <script id="temp-events-template" type="text/template">
                                <a href="/event/temp/edit/<%= _id %>"><%= name %></a>
                            </script>
                            <form id="temp-events" class="form-horizontal">
                                <fieldset>
                                    <legend>草稿箱</legend>
                                    <ul class="no-list-style">
                                    </ul>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span9">
            <div class="platform-history">
                <script id="event-list-template" type="text/template">
                    <td><%= _id %></td>
                    <td><%= name %></td>
                    <td><%= owner %></td>
                    <td><%
                        if(components.draw){
                        %><span>抽奖</span> <%
                        }
                        if(components.vote){
                        %><span>投票</span> <%
                        }
                        if(components.promotion){
                        %><span>优惠券</span> <%
                        }
                        if(components.quiz){
                        %><span>问答</span> <%
                        }
                        %>
                    </td>
                    <td><%= startTime %></td>
                    <td>
                        <a href="#" role="button" class="btn btn-link event-view"
                           title="查看"><i class="icon-search"></i>查看</a>
                        <a href="#" role="button" class="btn btn-link event-edit"
                           title="编辑"><i class="icon-edit"></i>编辑</a>
                    </td>
                </script>
                <form class="form-horizontal">
                    <fieldset>
                        <legend>在线上的活动</legend>
                        <table id="active-events-list" class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <td>序号</td>
                                <td>活动名称</td>
                                <td>创建者</td>
                                <td>活动类型</td>
                                <td>创建时间</td>
                                <td style="width: 140px">操作</td>
                            </tr>
                            </thead>
                            <tbody id="active-events-list-body">
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="pagination pagination-centered">
                        <ul id="event-query-pagination">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src='js/app/event-platform-index.js'></script>
</html>