doctype 5
html(ng-app="adminRoles")
  include includes/head
  body
    include includes/nav
    script(type="text/javascript", src="/activity/admin/static/apps/admin.js")
    script(type="text/javascript", src="/activity/admin/static/apps/admin.users.js")
    script(type="text/ng-template", id="rolesModal.html")
        .modal-header
            h3 修改用户 "{{user.name}}" 权限
        .modal-body.form-horizontal(style="overflow-y:visible")
            .control-group
                label.control-label 用户权限修改
                .controls
                    .btn-group
                        a.btn.dropdown-toggle(data-toggle="dropdown", href="javascript:void(0)")
                            | {{roleName}}
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat="(role, name) in roles")
                                a(href="#", ng-click="setRole(role)") {{name}}

        .modal-footer
            button.btn.btn-primary(ng-click="ok()") 确定
            button.btn.btn-warning(ng-click="cancel()") 取消
    script(type="text/ng-template", id="addUserModal.html")
        .modal-header
            h3 新增用户
        .modal-body.form-horizontal(style="overflow-y:visible")
            .control-group
                label.control-label 新增用户邮箱
                .controls
                    .input-append
                        input.input-medium(type="text", ng-model="$parent.email")
                        span.add-on @dianping.com
            .control-group
                label.control-label 新增用户权限
                .controls
                    .btn-group
                        a.btn.dropdown-toggle(data-toggle="dropdown", href="javascript:void(0)")
                            | {{roleName}}
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat="(role, name) in roles")
                                a(href="#", ng-click="setRole(role)") {{name}}
        .modal-footer
            button.btn.btn-success(ng-click="ok()") 添加
            button.btn.btn-warning(ng-click="cancel()") 取消

    script(type="text/ng-template", id="confirmModal.html")
        .modal-header
            h3 删除用户
        .modal-body 你确定要删除用户 "{{user.name}}"？
        .modal-footer
            button.btn.btn-danger(ng-click="ok()") 删除
            button.btn.btn-warning(ng-click="cancel()") 取消

    .container(ng-controller="UsersCtrl")
        .row
            .span12: .bordered.form-horizontal.form-search
                form.form-horizontal.form-search(name="form", action="", method="post", enctype="multipart/form-data", novalidate)
                    fieldset
                        legend 权限管理
                        .row-fluid: .span12
                            .control-group
                                label.control-label 用户名称
                                .controls
                                    input.input-medium(type="text", ng-model="form.username", ng-enter="setCurrentPage(1)")
                            .control-group
                                label.control-label 用户邮箱
                                .controls
                                    input.input-large(type="text", ng-model="form.email", ng-enter="setCurrentPage(1)")
                            .control-group
                                .controls
                                    button.btn(type="button", ng-click="setCurrentPage(1)") 
                                        i.icon-search
                                        | 查询
                                    button.btn.btn-success(type="button", ng-click="addNewUser()") 
                                        i.icon-plus
                                        | 新增用户
                        .row-fluid
                            .span8.offset2
                                alert(ng-repeat="alert in alerts", type="alert.type", close="closeAlert($index)") {{alert.msg}}
                        .row-fluid
                            .span12
                                table.table.table-striped.table-hover.table-bordered
                                    caption: h4 用户列表
                                    thead
                                        tr
                                            th 用户ID
                                            th 用户邮箱
                                            th 用户名称
                                            th 用户权限
                                            th 操作
                                    tbody
                                        tr(ng-repeat="u in users")
                                            td {{u.id}}
                                            td {{u.email}}
                                            td {{u.name}}
                                            td {{u.roleName}}
                                            td
                                                a.btn.btn-link(href="#", ng-click="changeRole(u, $index)") 
                                                    i.icon-edit 
                                                    | 修改权限
                                                a.btn.btn-link(href="#", ng-click="deleteUser(u, $index)")
                                                    i.icon-trash
                                                    | 删除                                
                        .row-fluid
                            .span12
                                upager(page="currentPage", total-pages="totalPage", on-select-page="setCurrentPage(page)")
