doctype 5
html(ng-app="apiTest")
  include includes/head
  body
    include includes/nav
    script(type="text/javascript", src="/activity/admin/static/apps/apis.test.js")
    .container(ng-controller="ApiTestCtrl")
        .row
            .span12: .bordered.form-horizontal.form-search
                form.form-horizontal.form-search(name="form", action="", method="post")
                    fieldset
                        legend API测试
                        .row-fluid: .span12
                            .control-group
                                label.control-label 活动ID
                                .controls
                                    input.input-medium(name="eventId", ng-model="eventId", type="number")
                        .row-fluid: .span12
                            tabset
                                tab(heading="抽奖活动")
                                    .row-fluid
                                        .span12
                                            .button-group-centered
                                                button.btn(type='button', ng-click="draw.drawAPI()") 抽奖API
                                        .span12
                                            code(style="white-space:inherit",ng-bind-template="{{draw.drawResult}}")
                                    .row-fluid
                                        .span12
                                            .button-group-centered
                                                label 记录Id
                                                input.input-medium(ng-model="draw.recordId", type="text")
                                                button.btn(type='button', ng-click="draw.userInfoAPI()") 用户信息API
                                        .span12
                                            code(style="white-space:inherit", ng-bind-template="{{draw.userInfoResult}}")
                                tab(heading="投票活动")
                                    .row-fluid
                                        .span12
                                            .button-group-centered
                                                label 候选对象ID
                                                input.input-medium(ng-model="vote.voteId", type="text")
                                                button.btn(type='button', ng-click="vote.voteAPI()") 投票API
                                        .span12
                                            code(style="white-space:inherit",ng-bind-template="{{vote.voteResult}}")
                                    .row-fluid
                                        .span12
                                            .button-group-centered
                                                button.btn(type='button', ng-click="vote.listAPI()") 投票列表API
                                        .span12
                                            code(style="white-space:inherit", ng-bind-template="{{vote.listResult}}")

                                tab(heading="评论活动")
                                    .row-fluid
                                        .span12
                                            .button-group-centered
                                                button.btn(type='button', ng-click="comment.commentAPI()") 评论API
                                        .span12
                                            code(style="white-space:inherit",ng-bind-template="{{comment.commentResult}}")
                                    .row-fluid
                                       .span12
                                            .button-group-centered
                                                button.btn(type='button', ng-click="comment.pageAPI()") 分页API
                                        .span12
                                            code(style="white-space:inherit",ng-bind-template="{{comment.pageResult}}")
                                    .row-fluid
                                        .span12
                                            .button-group-centered
                                                label 记录Id
                                                input.input-medium(ng-model="comment.recordId", type="text")
                                                button.btn(type='button', ng-click="comment.likeAPI()") 点赞API
                                        .span12
                                            code(style="white-space:inherit", ng-bind-template="{{comment.likeResult}}")

         
                                