!!! 5
html(ng-app="createEvent")
  include includes/head
  body
    include includes/nav
    script(text="text/javascript", src="/activity/admin/static/apps/events.service.js")    
    script(text="text/javascript", src="/activity/admin/static/apps/create.event.js")
    .container(ng-controller="CreateEventCtrl", ng-init=draftId?"init('#{draftId}')":"")
      .row
        .span12
          ul.breadcrumb
            li
              a(href='#') 首页
              span.divider /
            li.active 新增活动
          .bordered
            include creates/event-form
            include creates/draw-form
            include creates/vote-form
            include creates/comment-form

    include includes/deleteModal
