!!! 5
html(ng-app="editEvent")
  include includes/head
  body
    include includes/nav
    script(text="text/javascript", src="/activity/admin/static/apps/events.service.js")    
    script(text="text/javascript", src="/activity/admin/static/apps/edit.event.js")
    .container(ng-controller="editEventCtrl", ng-init="init(#{eventId}, '#{editType?editType:''}')")
      .row
        .span12
          ul.breadcrumb
            li
              a(href='#') 首页
              span.divider /
            li
              a(href='#') 查看活动
              span.divider /
            li.active 编辑活动
          .bordered
            include edits/comment-edit
            include edits/vote-edit
            include edits/draw-edit
            include edits/baseinfo-edit

    include includes/deleteModal
