doctype 5
html(ng-app)
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title 商务活动后台
    link(rel="stylesheet", type="text/css", href="/activity/admin/static/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/activity/admin/static/bootstrap/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", type="text/css", href="/activity/admin/static/bootstrap/css/datetimepicker.css")
    link(rel="stylesheet", type="text/css", href="/activity/admin/static/css/style.css")
    script(src="/activity/admin/static/js/lib/jquery-1.8.3.js")
    script(src="/activity/admin/static/bootstrap/js/bootstrap.js")
body
    include includes/nav
    .container
      .row
        .span2
          table.table.table-bordered(style="background-color:#ececec")
            caption
                h4 草稿箱
            tbody
                each d in drafts
                  tr
                    td
                        a.btn.btn-link(href="/activity/admin/draft/#{d._id}")= d.name
        .span10
          table.table.table-striped.table-hover.table-bordered
            caption
                h4 新建活动列表
            thead
                tr
                    td 序号
                    td 活动名称
                    td 创建者
                    td 活动类型
                    td 活动状态
                    td 开始时间
                    td 结束时间
                    td 操作
            tbody
                each e in recents
                    tr
                        td= e._id
                        td= e.name
                        td= e.owner
                        td
                            if e.components.draw
                                span(style="padding:0 2px 0 2px") 抽奖
                            if e.components.vote
                                span(style="padding:0 2px 0 2px") 投票
                            if e.components.promotion
                                span(style="padding:0 2px 0 2px") 优惠券
                            if e.components.comment
                                span(style="padding:0 2px 0 2px") 评论
                            if e.components.quiz
                                span(style="padding:0 2px 0 2px") 问答
                        td
                            if new Date(e.endTime) < new Date()
                                已结束
                            else if new Date(e.startTime) < new Date()
                                在线
                            else
                                未开始
                        td= e.startTime
                        td= e.endTime
                        td
                            a.btn.btn-link.event-view(href="/activity/admin/event/#{e._id}", role="button", title="查看")
                               i.icon-search
                               | 查看