!!! 5
html
    include includes/head
    body
        include includes/nav
        .container
            .row
                .span12
                    if typeof message != 'undefined'
                        p.text-center(class="text-"+(level || 'info'))= message
            .row
                .span12