doctype html
html(ng-app="listEvent")
    include includes/head
    body
        script(text="text/javascript", src="/activity/admin/static/apps/events.service.js")
        script(text="text/javascript", src="/activity/admin/static/apps/list.event.js")
        include includes/nav
        .container(ng-controller="listEventCtrl")
            .row
                .span12
                    ul.breadcrumb
                        li
                            a(href='#') 首页
                            span.divider /
                        li
                            a(href='#') 查看活动
                            span.divider /
                        li.active 查找活动
                    .bordered
                        form.form-horizontal.form-search(name="queryForm")
                            fieldset
                                legend 查找活动
                                .row-fluid
                                    .span12
                                        .alert.alert-error(ng-show="queryForm.id.$dirty && queryForm.id.$error.pattern") 活动ID必须为数字
                                        .alert.alert-error(ng-show="queryForm.startTime.$dirty && queryForm.startTime.$error.pattern") 请输入正确的开始时间
                                        .alert.alert-error(ng-show="queryForm.endTime.$dirty && queryForm.endTime.$error.pattern") 请输入正确的结束时间
                                include includes/alerts
                                .row-fluid
                                    .span12
                                        h4 输入搜索条件：
                                        .control-group
                                            label.control-label 活动状态
                                            .controls
                                                .btn-group(data-toggle='buttons-radio')
                                                    label.btn.active
                                                        input(type='radio', name='active', value='', checked='', ng-model="search.active")
                                                        | 任意
                                                    label.btn
                                                        input(type='radio', name='active', value='true', ng-model='search.active')
                                                        | 在线
                                                    label.btn
                                                        input(type='radio', name='active', value='false', ng-model='search.active')
                                                        | 离线
                                        .control-group
                                            label.control-label(for='string') 活动名称
                                            .controls
                                                input.input-xlarge(type='text', name='name', ng-model="search.name", ng-enter="setCurrentPage(1)")
                                        .control-group
                                            label.control-label(for='id') 活动ID
                                            .controls
                                                input.input-medium(type='text', name='id', ng-pattern="/^[0-9]*$/", ng-model="search.eventId", ng-enter="setCurrentPage(1)")
                                        .control-group
                                            label.control-label(for='owner') 创建者
                                            .controls
                                                input.input-medium(type='text', name='owner', ng-model="search.owner", ng-enter="setCurrentPage(1)")
                                        .control-group
                                            label.control-label 开始时间
                                            .controls
                                                .input-append.date.date-picker(data-date-format='yyyy-mm-dd hh:ii:ss', ng-model="search.range_start", datetime-picker)
                                                    input.input-medium(type='text', name='startTime', ng-pattern="/^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}$/", ng-model="search.starttime_text")
                                                    span.add-on
                                                        i.icon-calendar
                                        .control-group
                                            label.control-label 结束时间
                                            .controls
                                                .input-append.date.date-picker(data-date-format='yyyy-mm-dd hh:ii:ss', ng-model="search.range_end", datetime-picker)
                                                    input.input-medium(type='text', name='endTime', ng-pattern="/^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}$/", ng-model="search.endtime_text")
                                                    span.add-on
                                                        i.icon-calendar
                                        .control-group
                                            .controls
                                                button.btn(type='button', ng-click="setCurrentPage(1)") 搜索
                        .row-fluid
                            .span12
                                table.table.table-striped.table-hover.table-bordered
                                    caption
                                        h4 活动列表
                                    thead
                                        tr
                                            td 序号
                                            td 活动名称
                                            td 创建者
                                            td 活动类型
                                            td 活动状态
                                            td 开始时间
                                            td 结束时间
                                            td(style='width: 220px') 操作
                                    tbody
                                        tr(ng-repeat="e in events")
                                            td {{e._id}}
                                            td {{e.name}}
                                            td {{e.owner}}
                                            td
                                                span(ng-if="e.components.draw", style="padding:0 2px 0 2px") 抽奖
                                                span(ng-if="e.components.draw", style="padding:0 2px 0 2px") 投票
                                                span(ng-if="e.components.promotion", style="padding:0 2px 0 2px") 优惠券
                                                span(ng-if="e.components.comment", style="padding:0 2px 0 2px") 评论
                                                span(ng-if="e.components.quiz", style="padding:0 2px 0 2px") 问答
                                            td {{e|eventState}}
                                            td {{e.startTime}}
                                            td {{e.endTime}}
                                            td
                                                a.btn.btn-link(href="/activity/admin/event/{{e._id}}", role="button", title="查看")
                                                    i.icon-search
                                                    | 查看
                                                a.btn.btn-link(href="/activity/admin/event/{{e._id}}/edit", role="button", title="编辑")
                                                    i.icon-edit
                                                    | 编辑
                                                a.btn.btn-link(role="button", ng-click="deleteEvent(e._id)", title="删除")
                                                    i.icon-trash
                                                    | 删除
                        .row-fluid
                            .span12
                                upager(page="currentPage", total-pages="totalPage", on-select-page="setCurrentPage(page)")
        include includes/deleteModal