doctype 5
html(ng-app)
  include includes/head
  body
    include includes/nav
    .container
        .row
            .span12
                p.text-warning.text-center= message
        .row
            .span12
                .button-group-centered
                    if user
                        a.btn.btn-lg.btn-danger(href="/activity/admin/logout") 退出当前账户
                    else
                        a.btn.btn-lg.btn-success(href="/activity/admin/auth/google") 用点评邮箱登陆
        .row
            .span12