doctype 5
html(ng-app='smsCenterFailed')
  include includes/head
  body
    include includes/nav
    script(type="text/javascript", src="/activity/admin/static/apps/sms.center.js")
    script(type="text/javascript", src="/activity/admin/static/apps/sms.center.failed.js")
    script(type="text/ng-template", id="confirmModal.html")
        .modal-header
            h3 删除记录
        .modal-body 你确定要删除这条记录？
        .modal-footer
            button.btn.btn-primary(ng-click="ok()") 删除
            button.btn.btn-warning(ng-click="cancel()") 取消

    .container(ng-controller="RecordsCtrl")
        .row
            .span12: .bordered.form-horizontal.form-search
                fieldset
                    legend 查看发送失败记录
                    .row-fluid: .span12
                        .control-group
                            label.control-label 活动ID
                            .controls
                                input.input-medium(type="text", ng-model="form.eventId", ng-enter="setCurrentPage(1)")
                        .control-group
                            label.control-label 手机号
                            .controls
                                input.input-large(type="text", ng-model="form.mobileNo", ng-enter="setCurrentPage(1)")
                        .control-group
                            label.control-label 发送内容
                            .controls
                                input.input-large(type="text", ng-model="form.content" ng-enter="setCurrentPage(1)")
                        .control-group
                            .controls
                               button.btn(type="button", ng-click="setCurrentPage(1)") 查询
                    .row-fluid
                        .span8.offset2
                            alert(ng-repeat="alert in alerts", type="alert.type", close="closeAlert($index)") {{alert.msg}}
                    .row-fluid
                        .span12
                            table.table.table-striped.table-hover.table-bordered
                                caption: h4 短信发送失败列表
                                thead
                                    tr
                                        th(width="25px") ID
                                        th 通知类型
                                        th 接收人ID
                                        th 活动ID
                                        th 手机号
                                        th 发送内容
                                        th 对应活动记录
                                        th 记录时间
                                        th(width="180px") 操作
                                tbody
                                    tr(ng-repeat="rec in records")
                                        td {{rec.id}}
                                        td 短信
                                        td {{rec.userInfo.userName}}
                                        td {{rec.eventId}}
                                        td {{rec.mobileNo}}
                                        td {{rec.content}}
                                        td 对应活动记录
                                        td {{rec.create}}
                                        td
                                            a.btn.btn-link(href="#", ng-click="resend(rec)") 
                                                i.icon-retweet 
                                                | 重新发送
                                            a.btn.btn-link(href="#", ng-click="deleteRec(rec, $index)")
                                                i.icon-trash
                                                | 删除
                    .row-fluid
                        .span12
                            upager(page="currentPage", total-pages="totalPage", on-select-page="setCurrentPage(page)")