doctype 5
html(ng-app="smsCenterSend")
  include includes/head
  body
    script(type="text/javascript", src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js")
    include includes/nav
    script.
        var app = angular.module("smsCenterSend", []);

        app.directive('fileUploader', function() {
            return {
                restrict: 'A',
                link: function(scope, element, attrs) {
                    $(element).filestyle({classButton: 'btn btn-primary'});
                    element.bind('click', function() {

                    });
                }
            };
        });

        app.controller('FormCtrl', function($scope) {
            $scope.submit = function(message) {
                if($scope.form.hasFile || (message.content && message.mobileNos)) {
                    document.querySelector('form').submit();
                }
            };

            $scope.setFile = function(input) {
                $scope.$apply(function() {
                    $scope.form.hasFile = (input.files.length > 0);
                    $scope.filelist = input.files;
                });
            };
        });
    .container(ng-controller="FormCtrl")
        .row
            .span12: .bordered.form-horizontal.form-search
                form.form-horizontal.form-search(name="form", action="", method="post", enctype="multipart/form-data", novalidate)
                    fieldset
                        legend 发送短信
                        .row-fluid
                            if error
                                .span12: .alert.alert-error= error
                            .span12(ng-show="!form.hasFile && ((form.mobileNos.$dirty && form.mobileNos.$invalid) || (form.content.$dirty && form.content.$invalid))")
                                .alert.alert-error(ng-show="form.mobileNos.$error.required") 手机号码不能为空
                                .alert.alert-error(ng-show="form.content.$error.required") 发送内容不得为空
                        .row-fluid
                            .span12
                                .control-group
                                    label.control-label(for="fileUpload") 上传文件
                                    .controls
                                        input#fileUpload(file-uploader,name="senddata", type="file", ng-model-instant, multiple, onchange="angular.element(this).scope().setFile(this)")
                        .row-fluid
                            .span12
                                .control-group
                                    label.control-label 发送号码
                                    .controls
                                        textarea#mobileNos.span10(rows="4", placeholder="手机号码使用','分隔", name="mobileNos", type="text", ng-model="message.mobileNos", required)
                                .control-group
                                    label.control-label(for="content") 发送内容
                                    .controls
                                        textarea#content.span10(rows="6", name="content", type="text", ng-model="message.content", required)
                                .control-group
                                    .controls
                                        button.btn(ng-disabled="!form.hasFile && form.$invalid", type="submit", ng-click="submit(message)") 发送

