doctype 5
html(ng-app='smsCenterRecords')
  include includes/head
  body
    include includes/nav
    script(type="text/javascript", src="/activity/admin/static/apps/sms.center.js")
    script.
        var app = angular.module('smsCenterRecords', ['sms.center', 'utils', 'ui.bootstrap']);

        function RecordsCtrl($scope, recordsService) {
            $scope.alerts = [];
            $scope.totalPages = 0;
            $scope.currentPage = 0;

            // init first page
            $scope.setCurrentPage = function(pn) {
                var eventId, mobileNo, content;
                if($scope.form) {
                    eventId = $scope.form.eventId;
                    mobileNo = $scope.form.mobileNo;
                    content = $scope.form.content;
                }

               recordsService.getRecords(pn, eventId, mobileNo, content).success(function(data) {
                    $scope.records = data.list.map(function(rec) {
                        if(rec._id.length > 4) {
                           rec.id = rec._id.substring(0, 4) + '...'
                        }else rec.id = rec._id;
                        return rec;
                    });
                    $scope.currentPage = pn;
                    $scope.totalPage = data.total;
                });
            }

            $scope.setCurrentPage(1);
        }
    .container(ng-controller="RecordsCtrl")
        .row
            .span12: .bordered.form-horizontal.form-search
                fieldset
                    legend 查看发送记录
                    .row-fluid: .span12
                        .control-group
                            label.control-label 活动ID
                            .controls
                                input.input-medium(type="text", ng-model="form.eventId", ng-enter="setCurrentPage(1)")
                        .control-group
                            label.control-label 手机号
                            .controls
                                input.input-large(type="text", ng-model="form.mobileNo", ng-enter="setCurrentPage(1)")
                        .control-group
                            label.control-label 发送内容
                            .controls
                                input.input-large(type="text", ng-model="form.content", ng-enter="setCurrentPage(1)")
                        .control-group
                            .controls
                               button.btn(type="button", ng-click="setCurrentPage(1)") 查询
                    .row-fluid
                        .span8.offset2
                            alert(ng-repeat="alert in alerts", type="alert.type", close="closeAlert($index)") {{alert.msg}}
                    .row-fluid
                        .span12
                            table.table.table-striped.table-hover.table-bordered
                                caption: h4 短信发送列表
                                thead
                                    tr
                                        th ID
                                        th 通知类型
                                        th 接收人ID
                                        th 活动ID
                                        th 手机号
                                        th 发送内容
                                        th 对应活动记录
                                        th 记录时间
                                tbody
                                    tr(ng-repeat="rec in records")
                                        td {{rec.id}}
                                        td 短信
                                        td {{rec.userInfo.userName}}
                                        td {{rec.eventId}}
                                        td {{rec.mobileNo}}
                                        td {{rec.content}}
                                        td 对应活动记录
                                        td {{rec.create}}
                    .row-fluid
                        .span12
                            upager(page="currentPage", total-pages="totalPage", on-select-page="setCurrentPage(page)")