!!! 5
html(ng-app="viewResults")
  include includes/head
  body
    include includes/nav
    script(text="text/javascript", src="/activity/admin/static/apps/events.service.js")
    script(text="text/javascript", src="/activity/admin/static/apps/view.results.js")    
    .container
      .row
        .span12
          ul.breadcrumb
            li
              a(href='#') 首页
              span.divider /
            li
              a(href='#') 查看活动
              span.divider /
            //- li.active 查看活动评论
          .bordered
            if type == 'draw'
              include results/draw-results
            if type == 'comment'
              include results/comment-results
            if type == 'vote'
              include results/vote-results
            
    include includes/deleteModal