!!! 5
html(ng-app)
  include includes/head  
  body
    include includes/nav
    .container
      .row
        .span12
          ul.breadcrumb
            li
              a(href='#') 首页
              span.divider /
            li.active 查看活动
          .bordered
            form.event-platform-view-single.form-horizontal
              fieldset
                legend 查看活动 (##{event._id})
                .row-fluid
                  .span12
                    .control-group
                      label.control-label 活动名称
                      .controls
                        span.input-text-inline= event.name
                    .control-group
                      label.control-label 活动城市ID
                      .controls
                        span.input-text-inline= event.cityId
                    .control-group
                      label.control-label 开始时间
                      .controls
                        span.input-text-inline= event.startTime
                    .control-group
                      label.control-label 结束时间
                      .controls
                        span.input-text-inline= event.endTime
                    .control-group
                      label.control-label 活动状态
                      .controls
                        span.input-text-inline= event.status
                    .control-group
                      label.control-label 活动类型
                      .controls
                        span.input-text-inline= event.types.join(' ')
                    .control-group
                      label.control-label 活动链接
                      .controls
                        span.input-text-inline
                          a(href='#{event.url}')= event.url
                    .control-group
                      label.control-label 负责人
                      .controls
                        span.input-text-inline= event.owner
                    .control-group
                      label.control-label 活动介绍
                      .controls
                        span.input-text-inline= event.message
                .row-fluid
                  .span12
                    .button-group-centered
                      a.btn(type='button', href='/activity/admin/event/#{event._id}/edit') 修改活动
                      if event.components.draw
                        a.btn(type='button', href='#draw-config') 查看抽奖信息
                      if event.components.vote
                        a.btn(type='button', href='#vote-config') 查看投票信息
                      if event.components.comment
                        a.btn(type='button', href='#comment-config') 查看评论信息
            if event.components.draw
              form#draw-config.event-platform-view-single.form-horizontal
                fieldset
                  legend 活动抽奖信息
                  .row-fluid
                    table.table.table-striped.table-hover.table-bordered
                        caption
                          h4 奖品列表
                        thead
                          tr
                            td 奖品ID
                            td 奖品名称
                            td 奖品等级
                            td 奖品总数
                            td 已抽数量
                            td 难度系数
                            td 奖品类型
                            td(style='width: 140px') 操作
                        tbody
                          each p in event.components.draw.prizes
                            tr
                              td= p.id
                              td= p.name
                              td= p.level
                              td= p.total
                              td= p.drawn
                              td= p.hardRate
                              td= p.typeText
                              td(style="width: 140px")
                                a.btn.btn-link.pirze-view(href="/activity/admin/event/#{event._id}/results/draw?prizeId=#{p.id}", title="查看中奖记录")
                                  i.icon-search
                                  | 查看中奖记录
                  .row-fluid
                    .span12
                      .button-group-centered
                        a.btn(href='/activity/admin/event/#{event._id}/edit/draw') 修改抽奖配置
                        a.btn(href="/activity/admin/event/#{event._id}/results/draw") 查看所有中奖记录
            if event.components.vote
              form#vote-config.event-platform-view-single.form-horizontal
                fieldset
                  legend 活动投票信息
                  .row-fluid
                    .span12
                      table.table.table-striped.table-hover.table-bordered
                        caption
                          h4 候选对象列表
                        thead
                          tr
                            td 候选对象ID
                            td 候选对象名称
                            td(style='width: 400px') 候选对象描述
                            td(style='width: 80px') 得票数
                            td(style='width: 140px;') 操作
                        tbody
                          each c in event.components.vote.candidates
                            tr 
                              td= c.id
                              td= c.name
                              td= c.desc
                              td= c.votes
                              td(style="width: 140px")
                                a.btn.btn-link(href="/activity/admin/event/#{event._id}/results/vote?candidateId=#{c.id}", title="查看投票记录")
                                  i.icon-search
                                  | 查看投票记录
                  .row-fluid
                    .span12
                      .button-group-centered
                        a.btn(href='/activity/admin/event/#{event._id}/edit/vote') 修改投票配置
                        a.btn(href="/activity/admin/event/#{event._id}/results/vote") 查看所有投票记录
            if event.components.comment
              form#comment-config.event-platform-view-single.form-horizontal
                fieldset
                  legend 活动评论信息
                  .row-fluid
                    .span12
                      .control-group
                        label.control-label 限制类型
                        .controls
                          span.input-text-inline=  event.components.comment.limitTypeText
                      .control-group
                        label.control-label 限制方式
                        .controls
                          span.input-text-inline= event.components.comment.limitPeriodText
                      .control-group
                        label.control-label 限制评论次数
                        .controls
                          span.input-text-inline= event.components.comment.limitNumber
                      .control-group
                        label.control-label 预期参与人数
                        .controls
                          span.input-text-inline= event.components.comment.estimatedParticipants
                  .row-fluid
                    .span12
                      .button-group-centered
                        a.btn(href="/activity/admin/event/#{event._id}/edit/comment") 修改评论配置
                        a.btn(href="/activity/admin/event/#{event._id}/results/comment") 查看所有评论记录