/* common */
body{ padding-top: 60px; }
.border-title h6 { position: absolute; top: -1px; left: -1px; margin: 0; padding: 3px 7px; font-size: 12px; font-weight: bold; background-color: #f5f5f5; border: 1px solid #ddd; color: #9da0a4; -webkit-border-radius: 4px 0 4px 0; -moz-border-radius: 4px 0 4px 0; border-radius: 4px 0 4px 0; }
.border-title { position: relative; margin: 15px 0; padding: 39px 19px 14px; background-color: #fff; border: 1px solid #ddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
textarea{resize: vertical;}
select{ -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; height: 20px}
label.control-label{cursor: default;}
label.control-label[for]{cursor: pointer;}
.table caption{padding: 1px}
.table td{line-height: 30px;text-align: center;}
.table td.address{width: 250px;}
.table td.address div{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.table td .btn{vertical-align: top}
.table td a{word-break:break-all;}
@media (max-width: 767px) {
    body { padding-top: 0; }
    .affix{ position: static;}
}
@media (min-width: 768px) and (max-width: 979px) {
    body { padding-top: 0; }
}
.btn input[type="radio"],.btn input[type="checkbox"]{display: none}

/* login */
.login{ margin-top: 15%; height: auto; border: 1px solid #ddd; border-radius: 4px;}
.login-title{ background-color: #ebebeb;}
.login-title h3{ font:  24.5px "Microsoft YaHei"; padding-left: 15px; color: #666;}
.login-content{ padding: 50px 0 20px;}
.login-content .form-horizontal .control-label{ width: 80px;}
.login-content .form-horizontal .controls{ margin-left: 100px;}
.login-content .controls a{ font-size: 12px; margin-left: 5px;}
.login-content .checkbox{ margin: -15px 0 15px 0}
.login .reset{ float: right; margin-right: 100px; margin-left: 5px;}

/**{ box-sizing: border-box;}*/
.bordered{ border: 1px solid #ddd; border-radius: 4px; padding: 19px; margin-bottom: 20px;}
.no-list-style{ list-style: none; margin: 0; padding: 0;}
form{ margin: 0; padding: 0;}
form[class^="event-platform"] .left, form[class^="event-platform"] .right{ width: 50%; margin-bottom: 20px;}
form[class^="event-platform"] .left{ float: left;}
form[class^="event-platform"] .left input{ float: right; margin-right: 10px;}
form[class^="event-platform"] .right{ float: right;}
form[class^="event-platform"] .right input{ float: left; margin-left: 10px;}
form[class^="event-platform"] input.pull-right{ float: right;}
form[class^="event-platform"] .input-text-inline{display:inline-block;line-height: 30px;}
form[class^="event-platform"] table label.checkbox{margin-bottom: 0}
table .radio, table .checkbox{ padding-left: 0;}
table .radio input[type="radio"], table .checkbox input[type="checkbox"]{ margin: 9px 0 0 4px;}

.button-group-centered{ text-align: center; padding-top: 20px; margin-bottom:20px; border-top: 1px solid #e5e5e5}
.button-group-centered .btn{ margin: 0 10px;}

/* event-platform.html */
.platform-history.side-nav{min-width: 220px;}
@media (min-width: 768px) and (max-width: 979px) {
    .platform-history.side-nav{min-width: 166px;width: 166px;}
}
@media (min-width: 1200px) {
    .platform-history.side-nav{width: 270px;}
}
.platform-history .table td{ text-align: center;}
.platform-history .table th, .platform-history.bordered .table td{ border-top: none;}

/* event-platform-choose-type.html */
.event-platform-choose-type ul{ margin: 0 auto; padding: 100px 0; width: 690px;}
.event-platform-choose-type li{ margin-left: 30px; float: left; position: relative;}
.event-platform-choose-type li:nth-child(4n+1){margin-left: 0;}
.event-platform-choose-type li img{ display: block; width: 150px; height: 150px; background-color: rgba(0,0,0,0.4);}
.event-platform-choose-type li input[type="checkbox"]{ display: block; position: absolute; right: 5px; top: 5px; margin:0;}
.event-platform-choose-type li label{ margin: 0; cursor: pointer}
.event-platform-choose-type li span{ text-align: center; display: block; padding: 5px 0;}

/* event-platform-config.html */
.event-platform-config .accordion-inner{ padding-left: 44px; padding-right: 44px;}
.event-platform-config .accordion-heading a{ font-weight: bold;}

/* event-platform-config-draw.html */
.event-platform-config-draw table{ margin-top: 15px;}
.event-platform-config-draw .content > .span5{ margin-bottom: 20px;}
.event-platform-config-draw .content > .span5 legend:first-child{ margin-bottom: 0;}
@-moz-document url-prefix() { .event-platform-config-draw .content > .span5 legend:first-child{ margin-bottom:20px;} }
.event-platform-config-draw .content > .span5 > a{ margin-right: 85px;}
.event-platform-config-draw .content > .span5 > a + a{ margin-right: 10px;}
.event-platform-config-draw .small .control-label{ width: 80px;}
.event-platform-config-draw .small .controls{ margin-left: 100px;}
.event-platform-config-draw label.radio{ float: left; padding-top: 5px; padding-right: 5px;}
.event-platform-config-draw textarea.span3{ height: 50px;}
/* event-platform-config-vote.html */
.event-platform-config-vote table{ margin-top: 15px;}
.event-platform-config-vote table td div{ width: 165px; word-wrap:break-word; }
.event-platform-config-vote .content > .span5{ margin-bottom: 20px;}
@-moz-document url-prefix() { .event-platform-config-vote .content > .span5 legend:first-child{ margin-bottom:40px;} }
.event-platform-config-vote .content > .span5 > a{ margin-right: 85px;}
.event-platform-config-vote .content > .span5 > a + a{ margin-right: 10px;}
.event-platform-config-vote .small .control-label{ width: 100px;}
.event-platform-config-vote .small .controls{ margin-left: 120px;}
.event-platform-config-vote label.radio{ float: left; padding-top: 5px; padding-right: 5px;}

/* event-platform-new.html */
.event-platform-new ul{ margin:0 auto;padding: 100px 0 50px; width: 450px;}
.event-platform-new li + li{ margin-left: 150px;}
.event-platform-new li{ float: left;}
.event-platform-new li a{ display: block; width: 150px; height: 150px; background-color: rgba(0,0,0,0.4);}
.event-platform-new li label{ text-align: center; margin: 10px 0;}

/* event-platform-new-clone.html */
.event-platform-new-clone .toolbar .toolbar-left{ float: left; width: auto;}
.event-platform-new-clone .toolbar .toolbar-left select{ margin-right: 20px;}
.event-platform-new-clone .toolbar .toolbar-right{ float: right;}
.event-platform-new-clone table{ margin-top: 15px;}

/* event-platform-request-new.html */
.event-platform-request-new .controls.input-prepend,
.event-platform-request-new .controls.input-append,
.event-platform-request-new .controls.input-prepend.input-append{display: block;}

/* event-platform-view.html */
.event-platform-view table{ margin-top: 15px;}

/* Forms */
.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}