form.event-platform-view.form-horizontal.form-search(ng-controller="commentResultsCtrl", ng-init="init(#{eventId}||-1)", ng-show="'#{type}'=='comment'", name="form")
  fieldset
    legend 查看活动评论 (##{eventId})
    include ../includes/alerts
    .row-fluid
      .span12
        h4 输入搜索条件：
        .control-group
          label.control-label 用户ID
          .controls
            input.input-medium(type='text', name='userId', ng-model="userId", ng-enter="setCurrentPage(1)")
        .control-group
          label.control-label 评论内容
          .controls
            input.input-medium(type='text', name='content', ng-model="content", ng-enter="setCurrentPage(1)")
        .control-group
          .controls
            button.btn(type='button', ng-click="setCurrentPage(1)") 查询
    .row-fluid
      .span12
        a.btn.btn-success.pull-right(href='/activity/admin/ajax/event/#{eventId}/results/export/xlsx/#{type}') 导出全部到Excel
        table.table.table-striped.table-hover.table-bordered
          caption
            h4 评论列表
          thead
            tr
              td 用户ID
              td 用户名
              td 评论时间
              td(style='width: 300px;') 评论内容
              td 评论图片
              td 城市ID
              td 用户IP
              td(style='width: 70px') 操作
          tbody
            tr(ng-repeat="rec in records")
              td {{rec.userId}}
              td {{rec.userInfo.nickName}}              
              td {{rec.create}}
              td.reviewText(title="{{rec.comment.content}}",style="width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap") {{rec.comment.content}}
              td 
                a(href="{{rec.comment.pic}}", target="_blank")
                  i.icon-search
                  | 查看
              td {{rec.cityId}}
              td {{rec.userIp}}
              td 
                 a.btn.btn-link(ng-click="deleteRec($index)")
                  i.icon-trash
                  | 删除
    .row-fluid
      .span12
        upager(page="currentPage", total-pages="totalPage", on-select-page="setCurrentPage(page)")

