form.event-platform-view.form-horizontal.form-search(ng-controller="drawResultsCtrl", ng-init="init(#{eventId}||-1, #{prizeId})", ng-show="'#{type}'=='draw'", name="form")
  fieldset
    legend 查看活动抽奖评论 (##{eventId})
    include ../includes/alerts
    .row-fluid
      .span12
        h4 输入搜索条件：
        .control-group
          label.control-label 奖品ID
          .controls
            input.input-medium(type='text', name='prizeId', ng-model="prizeId", ng-enter="setCurrentPage(1)")
        .control-group
          label.control-label 用户ID
          .controls
            input.input-medium(type='text', name='userId', ng-model="userId", ng-enter="setCurrentPage(1)")
        .control-group
          .controls
            button.btn(type='button', ng-click="setCurrentPage(1)") 查询
    .row-fluid
      .span12
        a.btn.btn-success.pull-right(href='/activity/admin/ajax/event/#{eventId}/results/export/xlsx/#{type}') 导出全部到Excel
        table.table.table-striped.table-hover.table-bordered
          caption
            h4 中奖记录列表
          thead
            tr 
              td 奖品ID
              td 用户ID
              td 用户名称
              td 抽奖时间
              td 手机号
              td 地址
              td 城市ID
              td 用户IP
              td(style="width: 70px") 操作
          tbody
            tr(ng-repeat="rec in records")
              td {{rec.prize.id}}
              td {{rec.userId}}
              td {{rec.userInfo? rec.userInfo.userName : ''}}
              td {{rec.create}}
              td {{rec.userInfo? rec.userInfo.mobileNo : ''}}
              td.address
                div(title="{{rec.address}}") {{rec.userInfo?rec.userInfo.address:''}}
              td {{rec.cityId}}
              td {{rec.userIp}}
              td
                a.btn.btn-link.record-delete(data-toggle="modal", title="删除", ng-click="deleteRec($index)")
                  i.icon-trash"
                  | 删除
    .row-fluid
      .span12
        upager(page="currentPage", total-pages="totalPage", on-select-page="setCurrentPage(page)")

