form.event-platform-view.form-horizontal.form-search(ng-controller="voteResultsCtrl", ng-init="init(#{eventId}||-1, #{candId})", ng-show="'#{type}'=='vote'", name="form")
  fieldset
    legend 查看活动投票结果 (##{eventId})
    include ../includes/alerts
    .row-fluid
      .span12
        h4 输入搜索条件：
        .control-group
          label.control-label 用户ID
          .controls
            input.input-medium(type='text', name='userId', ng-model="userId", ng-enter="setCurrentPage(1)")
        .control-group
          label.control-label 候选对象ID
          .controls
            input.input-medium(type='number', name='candId', ng-model="candId", ng-enter="setCurrentPage(1)")
        .control-group
          .controls
            button.btn(type='button', ng-click="setCurrentPage(1)") 查询
    .row-fluid
      .span12
        a.btn.btn-success.pull-right(href='/activity/admin/ajax/event/#{eventId}/results/export/xlsx/#{type}') 导出全部到Excel
        table.table.table-striped.table-hover.table-bordered
          caption
            h4 投票记录列表
          thead
            tr
              td 用户ID
              td 用户名
              td 投票时间
              td 候选对象ID
              td 候选对象名称
              td 候选对象描述
              td 城市ID
              td 用户IP
              td(style='width: 70px') 操作
          tbody
            tr(ng-repeat="rec in records")
              td {{rec.userId}}
              td {{rec.userName}}              
              td {{rec.create}}
              td {{rec.vid}}
              td {{rec.candidate.name}}
              td {{rec.candidate.desc}}
              td {{rec.cityId}}
              td {{rec.userIp}}
              td 
                 a.btn.btn-link(ng-click="deleteRec($index)")
                  i.icon-trash
                  | 删除
    .row-fluid
      .span12
        upager(page="currentPage", total-pages="totalPage", on-select-page="setCurrentPage(page)")

