form.event-platform-config-draw.form-horizontal(name="commentForm", ng-submit="commentConfig()", ng-show="currentStep=='comment'")
  fieldset
    legend 新增活动：评论配置
    .row-fluid
      .span12
        .alert.alert-error(ng-show="commentForm.estimatedParticipants.$dirty && commentForm.estimatedParticipants.$error.required") 请输入预期参与人数
        .alert.alert-error(ng-show="commentForm.limitNumber.$dirty && commentForm.limitNumber.$error.number") 限制评论次数必须为数字
    include ../includes/alerts
    .row-fluid
      .span12
        .control-group
          label.control-label 限制类型
          .controls
            select.input-medium(name='limitType', ng-model="comment.limitType", ng-options="t.text for t in comment.limitTypes")
        .control-group
          label.control-label 限制方式
          .controls
            select.input-medium(name='limitPeriod', ng-model="comment.limitPeriod", ng-options="t.text for t in comment.limitPeriods")
        .control-group
          label.control-label 限制评论次数
          .controls
            input.input-medium(type='number', min="0", name='limitNumber', ng-model="comment.limitNumber")
        .control-group
          label.control-label 预期参与人数
          .controls
            input.input-medium(type='number', min="0", name='estimatedParticipants', ng-model="comment.estimatedParticipants")
    .row-fluid
      .span12
        .button-group-centered
          button.btn(type='button', ng-click="moveForward()") 上一步
          button.btn.btn-primary(type='submit') {{nextSteps.length?'下一步':'完成'}}
          button.btn.btn-info.pull-right(type='button', ng-click="saveDraft()") 保存为草稿