form.event-platform-config-draw.form-horizontal(method='POST', name="drawForm" action='', ng-submit="drawConfig()", ng-show="currentStep==='draw'")
  fieldset
    legend 新增活动：抽奖配置
    .row-fluid
      .span12
        .alert.alert-error(ng-show="drawForm.estimatedParticipants.$dirty && drawForm.estimatedParticipants.$error.required") 请输入预期参与人数
        .alert.alert-error(ng-show="drawForm.limitNumber.$dirty && drawForm.limitNumber.$error.number") 限制抽奖次数必须为数字
        .alert.alert-error(ng-show="drawForm.limitWins.$dirty && drawForm.limitWins.$error.number") 限制中奖次数必须为数字
        .alert.alert-error(ng-show="draw.$dirty && !draw.prizes.length") 请至少输入一个奖品
    include ../includes/alerts
    .row-fluid
      .span12
        .control-group
          label.control-label 限制类型
          .controls
            select.input-medium(name='limitType', ng-model="draw.limitType", ng-options="t.text for t in draw.limitTypes")
        .control-group
          label.control-label 限制方式
          .controls
            select.input-medium(name='limitPeriod', ng-model="draw.limitPeriod", ng-options="p.text for p in draw.limitPeriods")
        .control-group
          label.control-label 限制抽奖次数
          .controls
            input.input-medium(type='number', min="0", name='limitNumber', ng-model="draw.limitNumber")
        .control-group
          label.control-label 限制中奖次数
          .controls
            input.input-medium(type='number', min="0", name='limitWins', ng-model="draw.limitWins")
        .control-group
          label.control-label 预期参与人数
          .controls
            input.input-medium(type='number', min="1", name='estimatedParticipants', ng-model="draw.estimatedParticipants", required)
        .control-group
          .controls
            button.btn(type='button', ng-click="draw.new()")
              | 添加奖品
            button.btn(type='button', ng-click="draw.deleteSelected()")
              | 删除选中奖品
    .row-fluid
      .span12
        table.table.table-striped.table-hover.table-bordered
          thead
            tr
              td(style='width: 20px;')
                label.checkbox
                  input(ng-if="!draw.isAllSelected()",type='checkbox', value='', title='全选', ng-click='draw.selectAll()')
                  input(ng-if="draw.isAllSelected()",type='checkbox', value='', title='全选', ng-click='draw.selectAll()', checked)
              td 奖品ID
              td 奖品名称
              td 奖品类别
              td 奖品等级
              td 奖品总数
              td 难度系数
              td 通知消息
              td(style='width: 140px;') 操作
          tbody
            tr(ng-repeat="p in draw.prizes")
              td
                label.checkbox
                  input(ng-if="draw.isSelected($index)", type="checkbox", ng-click="draw.select($index)", checked="")
                  input(ng-if="!draw.isSelected($index)", type="checkbox", ng-click="draw.select($index)")
              td {{p.id}}
              td {{p.name}}
              td(ng-if="p.type == '1'") 优惠券
              td(ng-if="p.type == '2'") 实物
              td(ng-if="p.type == '3'") 优惠券和实物
              td {{p.level}}
              td {{p.total}}
              td {{p.hardRate}}
              td {{p.message}}
              td
                a.btn.btn-link.prize-edit(ng-click="draw.edit(p, $index)")
                  i.icon-edit 
                  |编辑
                a.btn.btn-link.prize-delete(ng-click="draw.delete(p, $index)")
                  i.icon-trash 
                  |删除
    .row-fluid
      .span12
        .button-group-centered
          button.btn(type='button', ng-click='moveForward()') 上一步
          button.btn.btn-primary(type='submit') {{nextSteps.length?'下一步':'完成'}}
          button.btn.btn-info.pull-right(type='button', ng-click="saveDraft()") 保存为草稿


    script(type="text/ng-template", id="newDrawPrize.html")
      .modal-header
        button.close(type='button', aria-hidden='true', title='关闭', ng-click="cancel()")
          | ×
        h3 奖品添加/修改
      .modal-body
        form.form-horizontal
          fieldset.prize-modify
            .control-group
              label.control-label 奖品名称
              .controls
                input.input-medium(type='text', placeholder='', ng-model="$parent.name")
            .control-group
              label.control-label 奖品等级
              .controls
                input.input-medium(type='text', ng-model='$parent.level')
            .control-group
              label.control-label 奖品总数
              .controls
                input.input-medium(type='text', placeholder='', ng-model="$parent.total")
            .control-group
              label.control-label 难度系数
              .controls
                input.input-medium(type='text', ng-model="$parent.hardRate")
                span.help-block 默认值为1，系数越小，中奖难度越高，系数为0时不会中奖。
            .control-group
              label.control-label 奖品类型
              .controls
                label.checkbox.inline
                  input(type='checkbox', name='prize-type', value='1', ng-model="$parent.types.1")
                  | 优惠券
                label.checkbox.inline
                  input(type='checkbox', name='prize-type', value='2', ng-model="$parent.types.2")
                  | 实物
            .control-group
              label.control-label 通知信息
              .controls
                textarea.input-block-level(rows='3', ng-model="$parent.message")
      .modal-footer
        button.btn(type='button', aria-hidden='true', ng-click="cancel()") 撤销
        button.btn.btn-primary(type='button', ng-click="ok()") 保存
