form.event-platform-create.form-horizontal(method='POST', name="createForm", ng-submit="createConfig()", ng-show="currentStep === 'create'")
  fieldset
    legend 新增活动：活动基本信息
    .row-fluid
      if error
        .span12: .alert.alert-error= error
      .span12
        .alert.alert-error(ng-show="createForm.name.$dirty && createForm.name.$error.required") 请输入活动名称
        .alert.alert-error(ng-show="createForm.cityId.$dirty && createForm.cityId.$error.required") 请输入活动城市ID
        .alert.alert-error(ng-show="createForm.cityId.$dirty && createForm.cityId.$error.pattern") 活动城市ID必须为数字
        .alert.alert-error(ng-show="createForm.url.$dirty && createForm.url.$error.url") 请输入正确的活动链接
        .alert.alert-error(ng-show="createForm.owner.$dirty && createForm.owner.$error.required") 请输入活动负责人
        .alert.alert-error(ng-show="createForm.startTime.$dirty && createForm.startTime.$error.required") 请输入开始时间
        .alert.alert-error(ng-show="createForm.endTime.$dirty && createForm.endTime.$error.required") 请输入结束时间
        .alert.alert-error(ng-show="createForm.startTime.$dirty && createForm.startTime.$error.pattern") 请输入正确的开始时间
        .alert.alert-error(ng-show="createForm.endTime.$dirty && createForm.endTime.$error.pattern") 请输入正确的结束时间
        .alert.alert-error(ng-show="createForm.types.empty") 请选择活动类型
    include ../includes/alerts
    .row-fluid
      .span12
        #alert-window
        .control-group
          label.control-label 活动名称
          .controls
            input.input-medium(type='text', ng-model="event.name", name='name', required)
        .control-group
          label.control-label 活动城市ID
          .controls
            input.input-medium(type='text', ng-model="event.cityId", name='cityId', ng-pattern='/[0-9]+/', required)
        .control-group
          label.control-label 活动链接
          .controls
            input.input-xlarge(type='url', ng-model="event.url", name='url', placeholder='http://')
        .control-group
          label.control-label 负责人
          .controls
            input.input-medium(type='text', ng-model="event.owner",  name='owner', required)
        .control-group
          label.control-label 开始时间
          .controls
            .input-append.date.date-picker(data-date-format='yyyy-mm-dd hh:ii:ss', datetime-picker, ng-model="event.startTime")
              input.input-medium(type='text', name='startTime', ng-pattern="/^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}$/", ng-model="dummy.text1", required)
              span.add-on
                i.icon-calendar
        .control-group
          label.control-label 结束时间
          .controls
            .input-append.date.date-picker(data-date-format='yyyy-mm-dd hh:ii:ss', ng-model="event.endTime", datetime-picker)
              input.input-medium(type='text', name='endTime', ng-pattern="/^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}$/", ng-model="dummy.text2", required)
              span.add-on
                i.icon-calendar
        .control-group
          label.control-label(for='description') 活动介绍
          .controls
            textarea.input-xlarge(rows='6', ng-model="event.message", name="description")
        .control-group
          label.control-label 活动类型
          .controls
            label.checkbox.inline
              input(type='checkbox', name='types', ng-click="createForm.types && (form.types.empty = false)" value='draw', ng-model="event.types.draw")
              | 抽奖类活动
            label.checkbox.inline
              input(type='checkbox', name='types', value='comment', ng-model="event.types.comment", ng-click="createForm.types && (form.types.empty = false)")
              | 评论类活动
            label.checkbox.inline
              input(type='checkbox', name='types', value='vote', ng-model="event.types.vote", ng-click="createForm.types && (form.types.empty = false)")
              | 投票类活动
            label.checkbox.inline
              input(type='checkbox', name='types', disabled='disabled', title='暂不开放使用', value='promotion', ng-model="event.types.promotion")
              | 优惠券活动
            label.checkbox.inline
              input(type='checkbox', name='types', disabled='disabled', title='暂不开放使用', value='quiz', ng-model="quiz", ng-model="event.types.quiz")
              | 问答类活动
    .row-fluid
      .span12
        .button-group-centered
          button.btn.btn-primary(ng-if="!editMode", type='submit') 下一步
          button.btn.btn-primary(ng-if="editMode", type='submit') 完成
          button.btn.btn-info.pull-right(type='button', ng-click="saveDraft()") 保存为草稿
          button.btn.btn-info.pull-right(ng-if="editMode", type='button') 删除活动