form.event-platform-config-vote.form-horizontal(name="voteForm", ng-submit="voteConfig()", ng-show="currentStep == 'vote'")
  fieldset
    legend 新增活动：投票配置
    .row-fluid
      if error
        .span12: .alert.alert-error= error
      .span12
        .alert.alert-error(ng-show="voteForm.estimatedParticipants.$dirty && voteForm.estimatedParticipants.$error.required") 请输入预期参与人数
        .alert.alert-error(ng-show="voteForm.limitNumber.$dirty && voteForm.limitNumber.$error.number") 限制抽奖次数必须为数字
        .alert.alert-error(ng-show="voteForm.limitWins.$dirty && voteForm.limitWins.$error.number") 限制中奖次数必须为数字
        .alert.alert-error(ng-show="vote.$dirty && !vote.candidates.length") 请至少输入一个候选对象
    include ../includes/alerts
    .row-fluid
      .span12
        .control-group
          label.control-label 用户IP限制类型
          .controls
            select.input-medium(name='ipLimitType', ng-model="vote.ipLimitType", ng-options="t.text for t in vote.limits")
        .control-group
          label.control-label 用户IP限制次数
          .controls
            input.input-medium(type='number', name="ipLimitNumber", ng-model="vote.ipLimitNumber")
        .control-group
          label.control-label 用户ID限制类型
          .controls
            select.input-medium(name='idLimitType', ng-model="vote.idLimitType", ng-options="t.text for t in vote.limits")
        .control-group
          label.control-label 用户ID限制次数
          .controls
            input.input-medium(type='number', name="idLimitNumber", ng-model='vote.idLimitNumber')
        .control-group
          .controls
            button.btn(type='button', ng-click="vote.new()")
              | 添加候选对象
            button.btn(type='button', ng-click="vote.deleteSelected()")
              | 删除候选对象
    .row-fluid
      .span12
        table.table.table-striped.table-hover.table-bordered
          thead
            tr
              td(style='width: 20px;')
                label.checkbox
                  input(ng-if="!vote.isAllSelected()",type='checkbox', value='', title='全选', ng-click='vote.selectAll()')
                  input(ng-if="vote.isAllSelected()",type='checkbox', value='', title='全选', ng-click='vote.selectAll()', checked)
              td 候选对象ID
              td 候选对象名称
              td(style='width: 400px') 候选对象描述
              td(style='width: 80px') 得票数
              td(style='width: 140px;') 操作
          tbody
            tr(ng-repeat="c in vote.candidates")
                td
                    label.checkbox
                      input(ng-if="vote.isSelected($index)", type="checkbox", ng-click="vote.select($index)", checked="")
                      input(ng-if="!vote.isSelected($index)", type="checkbox", ng-click="vote.select($index)")
                td {{c.id}}
                td {{c.name}}
                td(style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap") {{c.desc}}
                td {{c.votes}}
                td
                    a.btn.btn-link.prize-edit(ng-click="vote.edit(c, $index)")
                      i.icon-edit 
                      |编辑
                    a.btn.btn-link.prize-delete(ng-click="vote.delete(c, $index)")
                      i.icon-trash 
                      |删除
    .row-fluid
      .span12
        .button-group-centered
          button.btn(type='button', ng-click="moveForward()") 上一步
          button.btn.btn-primary(type='submit') {{nextSteps.length?'下一步':'完成'}}          
          button.btn.btn-info.pull-right(type='button', ng-click="saveDraft()") 保存为草稿

    script(type="text/ng-template", id="newVoteCandidate.html")
       .modal-header
         button.close(type='button', title='关闭', ng-click="cancel()")
           | ×
         h3#vote-config-label 投票添加/修改
       .modal-body
         form.event-platform.form-horizontal
           fieldset
             .control-group
               label.control-label 候选对象名称
               .controls
                 input.input-medium(type='text', placeholder='', ng-model="$parent.name")
             .control-group
               label.control-label 候选对象描述
               .controls
                 textarea.input-block-level(rows='3', ng-model="$parent.desc")
       .modal-footer
         button.btn(type='button', ng-click="cancel()") 撤销
         button.btn.btn-primary(type='button', ng-click="ok()") 保存