form.form-horizontal(ng-submit="saveBaseInfo()", name="baseInfoForm", ng-show="editType == 'baseInfo'")
  fieldset
    legend 编辑活动 » 基本信息
    .row-fluid
      if error
        .span12: .alert.alert-error= error
      .span12
        .alert.alert-error(ng-show="baseInfoForm.name.$dirty && baseInfoForm.name.$error.required") 请输入活动名称
        .alert.alert-error(ng-show="baseInfoForm.cityId.$dirty && baseInfoForm.cityId.$error.required") 请输入活动城市ID
        .alert.alert-error(ng-show="baseInfoForm.cityId.$dirty && baseInfoForm.cityId.$error.pattern") 活动城市ID必须为数字
        .alert.alert-error(ng-show="baseInfoForm.url.$dirty && baseInfoForm.url.$error.url") 请输入正确的活动链接
        .alert.alert-error(ng-show="baseInfoForm.owner.$dirty && baseInfoForm.owner.$error.required") 请输入活动负责人
        .alert.alert-error(ng-show="baseInfoForm.startTime.$dirty && baseInfoForm.endTime.$error.required") 请输入开始时间
        .alert.alert-error(ng-show="baseInfoForm.endTime.$dirty && baseInfoForm.endTime.$error.required") 请输入结束时间
        .alert.alert-error(ng-show="baseInfoForm.startTime.$dirty && baseInfoForm.startTime.$error.pattern") 请输入正确的开始时间
        .alert.alert-error(ng-show="baseInfoForm.endTime.$dirty && baseInfoForm.endTime.$error.pattern") 请输入正确的结束时间
    include ../includes/alerts
    .row-fluid
      .span12
        #alert-window
        .control-group
          label.control-label 活动名称
          .controls
            input.input-medium(type='text', ng-model="baseInfo.name", name='name', required)
        .control-group
          label.control-label 活动城市ID
          .controls
            input.input-medium(type='text', ng-model="baseInfo.cityId", name='cityId', ng-pattern='/[0-9]+/', required)
        .control-group
          label.control-label 活动链接
          .controls
            input.input-xlarge(type='url', ng-model="baseInfo.url", name='url', placeholder='http://')
        .control-group
          label.control-label 负责人
          .controls
            input.input-medium(type='text', ng-model="baseInfo.owner",  name='owner', required)
        .control-group
          label.control-label 开始时间
          .controls
            .input-append.date.date-picker(data-date-format='yyyy-mm-dd hh:ii:ss', datetime-picker, ng-model="baseInfo.startTime")
              input.input-medium(type='text', name='startTime', ng-pattern="/^d{4}-d{2}-d{2}$/", ng-model="dummy.text1" required)
              span.add-on
                i.icon-calendar
        .control-group
          label.control-label 结束时间
          .controls
            .input-append.date.date-picker(data-date-format='yyyy-mm-dd hh:ii:ss', ng-model="baseInfo.endTime", datetime-picker)
              input.input-medium(type='text', name='endTime', ng-pattern="/^d{4}-d{2}-d{2}$/", ng-model="dummy.text2",required)
              span.add-on
                i.icon-calendar
        .control-group
          label.control-label 活动介绍
          .controls
            textarea.input-xlarge(rows='6', ng-model="baseInfo.message", name="message")
        .control-group
          label.control-label 活动类型
          .controls
            label.checkbox.inline
              input(type='checkbox', name='types', disabled='disabled', value='draw', ng-model="baseInfo.types.draw")
              | 抽奖类活动
            label.checkbox.inline
              input(type='checkbox', name='types', disabled='disabled', value='comment', ng-model="baseInfo.types.comment")
              | 评论类活动
            label.checkbox.inline
              input(type='checkbox', name='types', disabled='disabled', value='vote', ng-model="baseInfo.types.vote")
              | 投票类活动
            label.checkbox.inline
              input(type='checkbox', name='types', disabled='disabled', value='promotion', ng-model="baseInfo.types.promotion")
              | 优惠券活动
            label.checkbox.inline
              input(type='checkbox', name='types', disabled='disabled', value='quiz', ng-model="baseInfo.types.quiz")
              | 问答类活动
      .row-fluid
        .span12
          .button-group-centered
            button.btn.btn-primary(type='submit') 保存
            button.btn(type='button', ng-click="cancelEdit()") 撤销