form.form-horizontal(ng-submit="saveComment()", name="commentForm", ng-show="editType == 'comment'")
  fieldset
    legend 编辑活动 » 评论配置
    .row-fluid
      .span12
        .alert.alert-error(ng-show="commentForm.estimatedParticipants.$dirty && commentForm.estimatedParticipants.$error.required") 请输入预期参与人数
        .alert.alert-error(ng-show="commentForm.limitNumber.$dirty && commentForm.limitNumber.$error.number") 限制评论次数必须为数字
    include ../includes/alerts
    .row-fluid
      .span12
        .control-group
          label.control-label 限制类型
          .controls
            select.input-medium(name='limitType', ng-model="comment.limitType", ng-options="t.text for t in comment.limitTypes")
        .control-group
          label.control-label 限制方式
          .controls
            select.input-medium(name='limitPeriod', ng-model="comment.limitPeriod", ng-options="t.text for t in comment.limitPeriods")
        .control-group
          label.control-label 限制评论次数
          .controls
            input.input-medium(type='number', min="0", name='limitNumber', ng-model="comment.limitNumber")
        .control-group
          label.control-label 预期参与人数
          .controls
            input.input-medium(type='number', min="0", name='estimatedParticipants', ng-model="comment.estimatedParticipants")
    .row-fluid
      .span12
        .button-group-centered
          button.btn.btn-primary(type='submit') 保存
          button.btn(type='button', ng-click="cancelEdit()") 撤销