script(type="text/ng-template", id="confirmModal.html")
    .modal-header
        h3 提醒
    .modal-body 确定要执行删除操作?
    .modal-footer
        button.btn.btn-warning(ng-click="cancel()") 取消
        button.btn.btn-danger(ng-click="ok()") 删除