head
    title 商务活动后台
    link(rel="stylesheet", type="text/css", href="/activity/admin/static/bootstrap/css/bootstrap.min.css")
    //- link(rel="stylesheet", type="text/css", href="/activity/admin/static/bootstrap/css/bootstrap-responsive.min.css")
    //- link(ref="stylesheet", type="text/css", href="/activity/admin/static/bootstrap/css/datetimepicker.css")
    script(type="text/javascript", src="/activity/admin/static/js/lib/jquery-1.8.3.js")
    script(type="text/javascript", src="/activity/admin/static/moment.min.js")
    script(type="text/javascript", src="/activity/admin/static/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/activity/admin/static/angularjs/angular.js")
    script(type="text/javascript", src="/activity/admin/static/angularjs/ui-bootstrap-tpls.js")
    script(type="text/javascript", src="/activity/admin/static/js/lib/bs/bootstrap-datetimepicker.js")
    link(rel="stylesheet", type="text/css", href="/activity/admin/static/css/style.css")
    link(rel="stylesheet", type="text/css", href="/activity/admin/static/apps/css/utils.css")
    script(type="text/javascript", src="/activity/admin/static/apps/utils.js")
