div(class="navbar navbar-fixed-top")
  div.navbar-inner
    div.container
      a.brand(href="/activity/admin") 商务活动
      ul.nav
        li: a(href="/activity/admin/") 首页 
        li: a(href="/activity/admin/new") 新增活动
        li: a(href="/activity/admin/list") 查看活动
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown") 
            | 通知中心
            b.caret
          ul.dropdown-menu
            //- li: a(href="/activity/admin/smscenter") 中心首页
            li: a(href="/activity/admin/smscenter/send") 群发短信
            li: a(href="/activity/admin/smscenter/records") 短信记录
            li: a(href="/activity/admin/smscenter/failed") 发送失败记录
        if user && user.isAdmin
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | 管理员
              b.caret
            ul.dropdown-menu
              li: a(href="/activity/admin/administrator/roles") 权限管理
      ul(class="nav pull-right")
        if user
          li: p.navbar-text="欢迎"+user.name
          li: a(href="/activity/admin/logout") 退出
        else
          li
           a(href="/activity/admin/login")
            i.icon-user
            登陆
